// 640px, 1150px, 1400px
$breakpoints-up: (
	'medium': '40em',
	'large': '71.875em',
	'xlarge': '87.5em',
);

// 639px, 1149px, 1399px
$breakpoints-down: (
	'small': '39.9375em',
	'medium': '71.8125em',
	'large': '87.4375em',
);

@mixin breakpoint($size) {
	@media (min-width: map-get($breakpoints-up, $size)) {
		@content;
	}
}

@mixin breakpoint-down($size) {
	@media (max-width: map-get($breakpoints-down, $size)) {
		@content;
	}
}

@media(min-width:768px) {
	.title {
		position: absolute;
		top: 0;
		left: 20px;
	}

	.links, .container .header .profile-mobile {
		position: absolute;
		top: 10px;
		right: -178.4px;
	}

	.header .links {
		right: -225px;
	}

	.header .links img {
		width: 4vw;
		margin-right: 5vw;
	}

	.intro {
		position: relative;
		top: 1em;
		margin-top: 1em;
		width: 65%;
		margin-bottom: 2em;
	}

	.intro,#about {
		text-align: left;
		position: relative;
		right: 3em;
	}

	#about {
		position: relative;
		width: 65%;
		right: 5em;
	}

	.contact-upper {
		position: relative;
		right: 10em;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 2.29px;
	}

	.profile-mobile {
		height: 55vh;
	}

	.experience {
		position: relative;
		top: 25vh;
		left: 6.6vw;
	}

	.html,.javascript,.react {
		position: relative;
		right: 15em;
	}

	.css,.accessibility,.sass {
		position: relative;
		left: 10em;
		bottom: 10em;
	}

	.react {
		bottom: 2.5em;
	}

	.sass {
		bottom: 24em;
	}

	.react,.sass {
		margin-bottom: 12em;
	}

	.projects .project-header .contact-middle {
		position: relative;
		left: 31.5em;
	}

	.card .card-img {
		width: 55vw;
	}

	.projects {
		position: relative;
		left: 5em;
	}

	.projects .card .proj-skills .meet-css {
		position: relative;
		right: 80vw;
	}

	.meet {
		position: relative;
		left: 5vw;
	}

	.fcc-markdown {
		position: relative;
		left: 60vw;
		bottom: 35.3vh;
	}

	.elearn {
		position: relative;
		left: 5vw;
		bottom: 30.3vh;
	}

	.clock {
		bottom: 65.3vh;
		left: 60vw;
	}

	.advice {
		position: relative;
		bottom: 60vh;
		left: 5vw;
	}

	.preview {
		position: relative;
		bottom: 95.5vh;
		left: 60vw;
	}

	.fcc-markdown .card-title, .clock .card-title {
		width: 45%;
	}

	.projects .fcc-markdown .proj-skills .fcc-css,.projects .fcc-markdown .proj-skills .fcc-javascript,.projects .fcc-markdown .proj-skills .fcc-react,.projects .clock .proj-skills .clock-css,.projects .clock .proj-skills .clock-javascript,.projects .advice .proj-skills .advice-css, .projects .advice .proj-skills .advice-javascript,.projects .advice .proj-skills .advice-api,.projects .preview .proj-skills .preview-css,.projects .preview .proj-skills .preview-javascript {
		position: relative;
	}

	.projects .fcc-markdown .proj-skills .fcc-css {
		right: 20vw;
	}

	.projects .fcc-markdown .proj-skills .fcc-javascript {
		right: 40vw;
	}

	.projects .fcc-markdown .proj-skills .fcc-react {
		right: 60vw;
	}

	.projects .elearn .proj-skills .elearn-css {
		right: 80vw;
	}

	.projects .clock .proj-skills .clock-css {
		right: 35vw;
	}

	.projects .clock .proj-skills .clock-javascript {
		right: 69vw;
	}

	.projects .advice .proj-skills .advice-css {
		right: 20vw;
	}

	.projects .advice .proj-skills .advice-javascript {
		right: 40vw;
	}

	.projects .advice .proj-skills .advice-api {
		right: 60vw;
	}

	.projects .preview .proj-skills .preview-css {
		right: 33vw;
	}

	.projects .preview .proj-skills .preview-javascript {
		right: 65.6vw;
	}

	.contact-form {
		position: relative;
		bottom: 78vh;
	}

	.contact-title, .contact-txt {
		text-align: center;
	}

	.contact-form .contact-title {
		font-size: 72px;
		line-height: 72px;
		letter-spacing: -2.05px;
	}

	.contact-form .contact-txt {
		position: relative;
		font-size: 25px;
		line-height: 28px;
		left: 21vw;
		width: 65%;
	}

	form {
		position: relative;
		top: 22vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		input {
			margin-bottom: 1.1em;
		}
	}

	form .send-msg {
		width: 22%;
	}

	.container .footer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.container .footer .footer-links {
		position: relative;
		top: 1em;
		left: 9em;
	}

	.container .footer .footer-links {
		left: 15em;
	}

	.container .footer .footer-links img {
		width: 4vw;
		margin-right: 5vw;
	}

	.container .footer .footer-title {
		font-size: 32px;
		line-height: 32px;
		letter-spacing: -0.44px;
	}
}

@media (min-width: 1024px) {

	.meet {
		left: -1vw;
	}

	.fcc-markdown {
		position: relative;
		left: 51vw;
		bottom: 42vh;
	}

	.elearn {
		left: -0.6vw;
	}

	.clock {
		left: 51vw;
		top: -72.6vh;
	}

	.advice {
		top: -65vh;
		left: 0.65vw;
	}

	.preview {
		left: 51vw;
		top: -107vh;
	}
}

@media (min-width: 1440px) {
	.html {
		right: 30vw;
	}

	.css {
		left: -5vw;
	}

	.javascript {
		bottom: 27vh;
		right: -20vw;
	}

	.accessibility {
		bottom: 22vh;
		left: -30vw;
	}

	.react {
		bottom: 35vh;
		left: -5vw;
	}

	.sass {
		bottom: 64.5vh;
		left: 20vw;
	}

	.experience {
		top: 25em;
	}
}