// 640px, 1150px, 1400px
$breakpoints-up: (
	'medium': '40em',
	'large': '71.875em',
	'xlarge': '87.5em',
);

// 639px, 1149px, 1399px
$breakpoints-down: (
	'small': '39.9375em',
	'medium': '71.8125em',
	'large': '87.4375em',
);

@mixin breakpoint($size) {
	@media (min-width: map-get($breakpoints-up, $size)) {
		@content;
	}
}

@mixin breakpoint-down($size) {
	@media (max-width: map-get($breakpoints-down, $size)) {
		@content;
	}
}

@media(min-width:768px) {
	.title {
		position: absolute;
		top: 0;
		left: 20px;
	}

	.links, .profile-mobile {
		position: absolute;
		top: 10px;
		right: 20px;
	}

	.intro {
		position: relative;
		top: 1em;
		margin-top: 1em;
		width: 65%;
		margin-bottom: 2em;
	}

	.intro,.bio {
		text-align: left;
		position: relative;
		right: 3em;
	}

	.bio {
		position: relative;
		width: 65%;
		right: 5em;
	}

	.contact-upper {
		position: relative;
		right: 10em;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 2.29px;
	}

	.profile-mobile {
		height: 55vh;
	}

	.experience {
		position: relative;
		top: 25vh;
	}

	.html,.javascript,.react {
		position: relative;
		right: 15em;
	}

	.css,.accessibility,.sass {
		position: relative;
		left: 10em;
		bottom: 10em;
	}

	.react {
		bottom: 2.5em;
	}

	.sass {
		bottom: 24em;
	}

	.react,.sass {
		margin-bottom: 12em;
	}

	.projects .project-header .contact-middle {
		position: relative;
		left: 20em;
	}

	.card .card-img {
		width: 45vw;
	}
	.projects .card .proj-skills .meet-css {
		position: relative;
		right: 80vw;
	}

	.fcc-markdown {
		position: relative;
		left: 50vw;
		bottom: 35.3vh;
	}

	.fcc-markdown .card-title {
		width: 45%;
	}

	.projects .fcc-markdown .proj-skills .fcc-css,.projects .fcc-markdown .proj-skills .fcc-javascript,.projects .fcc-markdown .proj-skills .fcc-react {
		position: relative;
	}

	.projects .fcc-markdown .proj-skills .fcc-css {
		right: 20vw;
	}

	.projects .fcc-markdown .proj-skills .fcc-javascript {
		right: 40vw;
	}

	.projects .fcc-markdown .proj-skills .fcc-react {
		right: 60vw;
	}
	
}