// 640px, 1150px, 1400px
$breakpoints-up: (
	'medium': '40em',
	'large': '71.875em',
	'xlarge': '87.5em',
);

// 639px, 1149px, 1399px
$breakpoints-down: (
	'small': '39.9375em',
	'medium': '71.8125em',
	'large': '87.4375em',
);

@mixin breakpoint($size) {
	@media (min-width: map-get($breakpoints-up, $size)) {
		@content;
	}
}

@mixin breakpoint-down($size) {
	@media (max-width: map-get($breakpoints-down, $size)) {
		@content;
	}
}

@media(min-width:768px) {
	#top #profile-mobile {
		width: 40vw;
		position: absolute;
		top: -3.2vh;
		right: -5.25vw;
	}

	#navbar {
		position: absolute;
		right: 0;
		top: 20px;
	}

	.title {
		position: absolute;
		left: 1.25vw;
		top: 0;
	}

	.intro,#about {
		width: 60%;
		z-index: 400;
		text-align: left;
		position: absolute;
		left: 3vw;
		top: 10vh;
	}
	#about {
		top: 19vh;
	}

	.contact-upper {
		position: absolute;
		left: 2vw;
		top: 31vh;
	}

	.experience {
		margin-top: 39vh;
		padding-bottom: 45vh;
	}

	.html,.css,.javascript,.react,.sass,.accessibility {
		position: absolute;
	}

	.html,.sass {
		left: 10vw;
		top: 37.5vh;
	}

	.css {
		top: 45vh;
	}

	.css,.react,.accessibility {
		left: 50vw;
	}

	.javascript,.react {
		top: 55vh;
	}

	.javascript {
		left: 11vw;
	}

	.sass {
		left: 8vw;
		top: 68vh;
	}

	.accessibility {
		top: 68vh;
	}

	#contact-middle {
		left: 66vw;
	}

	.card img {
		width: 45vw;
	}

	.card-col {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
	}

	//The below selector is a placeeholder. Remove it once the number of projects reaches 6 or more. It's only there to make project 5's position more symmetrical with the rest.

	.card-col .advice {
		position: relative	;
		right: 26vw;
	}

	.clock {
		position: relative;
		left: 3vw;
	}

	.contact-form,.contact-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;

		p {
			width: 45%;
		}
	}

	form {
		width: 45%;
		margin-top: 2em;
	}

	.footer,#bottom {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		position: relative;
		top: 2em;
	}
}

@media(min-width:1024px) {
	#top #profile-mobile {
		width: 33vw;
	}
}

@media(min-width:1440px) {
	#top #profile-mobile {
		width: 24vw;
	}

	.links {
		left: 70vw;
		width: 100%;
	}

	.fcc-markdown {
		left: 1vw;
	}

	.card-links {
		position: relative;
		bottom: 30vh;
		left: 20vw;
		display: flex;
		width: 25%;
		flex-direction: column;
		display: none;
	}

	.show {
		display: flex;
	}

	form .send-msg {
		width: 31%;
	}

	.html {
		left: 5vw;
	}

	.css {
		left: 28vw;
	}

	.javascript {
		left: 50vw;
		top: 45vh;
	}

	.sass  {
		top: 65vh;
		left: 5vw;
	}

	.react {
		top: 65vh;
		left: 29vw;
	}

	.accessibility {
		top: 65vh;
	}

	hr:first-of-type {
		position: relative;
		top: 2.5em;
	}

	.header #navbar a img:hover,#bottom .footer-links a:hover {
		color: #4EE1A0;
	}
}