body {
  background: #151515;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav,.social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

hr {
  width: 343px;
  height: 1px;
  flex-shrink: 0;
  background: var(--White, #FFF);
}

.title,.name-footer {
  text-align: center;
}

.me {
  width: 174.207px;
  height: 242px;
  flex-shrink: 0;
  position: relative;
  left: 25vw;
  top: 2vh;
}

.intro-title {
  width: 343px;
  color: var(--White, #FFF);
  text-align: center;
  font-family: 'Space Grotesk';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.136px;
}

.green-span {
  border-bottom: 5px solid #4EE1A0;

}

.bio {
  color: var(--Grey, #D9D9D9);
  text-align: center;
  font-family: 'Space Grotesk';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.contact-upper,.contact-middle,.contact-lower,.code,.site {
  background:transparent;
  border: none;
  color: var(--White, #FFF);
  font-family: 'Space Grotesk';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.286px;
  border-bottom: 2px solid #4EE1A0;
  text-align: center;
  position: relative;
  left: 33.33vw;
  margin-bottom: 15vh;
}

.card-img {
  width: 346px;
  height: 253px;
  flex-shrink: 0;
  position: relative;
  left: 15px;
}

.card-title {
  color: var(--White, #FFF);
  text-align: center;
  font-family: 'Space Grotesk';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
}

.experience {
  width: 345px;
  color: var(--Grey, #D9D9D9);
  text-align: center;
  font-family: 'Space Grotesk';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.project-header {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  left: 15px;
}

.projects-title {
  color: var(--White, #FFF);
  font-family: 'Space Grotesk';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.136px;
  }

  .contact-middle {
    left: 4em;
    top: 3.5em;
  }

  .tech-stack {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .tech-stack li {
    margin-right: 20px;
  }

  .tech-stack li:last-of-type {
    margin-right: 0;
  }

  .stack-itm {
    color: var(--Grey, #D9D9D9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Space Grotesk';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
  }

  .code,.site {
    left: auto;
  }

  .btn-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    position: relative;
    right: 30px;
  }

  footer {
    width: 375px;
    height: 834px;
    flex-shrink: 0;
    background: var(--Dark-Grey, #242424);
    overflow: hidden;
    padding-bottom: 5px;
    position: relative;
    top: 8px;
  }

  .footer-title {
    width: 343px;
    color: var(--White, #FFF);
    text-align: center;
    font-family: Space Grotesk;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1.136px;
    padding-top: 50px;
  }

  .footer-txt {
    width: 343px;
    color: #D9D9D9;
    text-align: center;
    font-family: 'Space Grotesk';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
  }

  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .name-input,.email-input,.message-input {
    width: 343px;
    flex-shrink: 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--White, #FFF);
    margin-bottom: 1.2em;
  }

  .name-input,.email-input {
    height: 43px;
  }

  .message-input {
    height: 107px;
  }

  .name-input::placeholder,.email-input::placeholder,.message-input::placeholder {
    color: var(--White, #FFF);
    font-family: 'Space Grotesk';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.222px;
    opacity: 0.5;
  }

  .contact-lower {
    left: 25vw;
  }

  .name-footer {
    color: var(--White, #FFF);
    font-family: 'Space Grotesk';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.333px;
  }

  .social a {
    width: 53.994px;
    height: 20px;
  }

  .social {
    position: relative;
    top: 2.5em;
  }
  
  @media (min-width: 768px) {
    .skills, #project-row {
      display: grid;
      grid-template-columns: repeat(2, 50%);
    }

    .skills {
      left: 1em;
    }

    .projects {
      left: 10px;
    }

    .me {
      width: 322px;
      height: 600px;
      flex-shrink: 0;
      left: 57vw;
      top: -14vh;
      z-index: 200;
    }

    .title {
      text-align: left;
      margin-left: 1.2em;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.444px;
    }

    nav {
      z-index: 500;
      justify-content: center;
      position: relative;
      left: 70vw;
      bottom: 8.35vh;
      background: #151515;
      padding: 1em;
      width: 25%;
    }

    nav a {
      margin-right: 2em;
    }

    .intro-title {
      color: var(--White, #FFF);
      font-family: Space Grotesk;
      font-size: 72px;
      font-style: normal;
      font-weight: 700;
      line-height: 72px;
      letter-spacing: -2.045px;
      width: 421px;
      height: 233px;
      flex-shrink: 0;
      text-align: left;
      position: relative;
      left: 10px;
      bottom: 60vh;
    }

    .bio {
      color: var(--Grey, #D9D9D9);
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Space Grotesk;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      text-align: left;
      width: 55%;
      position: relative;
      left: 10px;
      bottom: 60vh;
    }

    .contact-upper,.contact-middle,.contact-lower {
      color: var(--White, #FFF);
      font-family: 'Space Grotesk';
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 2.286px;
      left: 2vw;
      bottom: 55vh;
      
    }

    hr,.skills,.projects,footer {
      position: relative;
      bottom: 45vh;
    }

    .project-header {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 313px;
    }

    .contact-middle {
      top: 8vh;
    }

    hr:nth-of-type(2) {
      display: none;
    }

    hr {
      width: 706px;
      height: 1px;
    }

    .col:nth-of-type(2) .project .tech-stack, .col:nth-of-type(2) .project .btn-div {
      position: relative;
      top: 2em;
    }

    .card-title,.experience,.stack-itm {
      text-align: left;
    }

    footer {
      width: 768px;
      height: 806px;
      flex-shrink: 0;
    }

    .footer-title {
      color: var(--White, #FFF);
      font-family: 'Space Grotesk';
      font-size: 72px;
    }

    .footer-txt {
      font-size: 18px;
    }

    .footer-title,.footer-txt {
      position: relative;
      left: 30vw;
      bottom: 5vh;
    }

    .name-input,.email-input,.message-input {
      width: 445px;
    }

    .message-input {
      height: 107px;
    }

    .contact-lower {
      top: 2vh;
      left: 23vw;
    }

    hr:last-of-type {
      position: absolute;
      bottom: 60px;
      left: 35px;
    }

    .name-footer {
      position: relative;
      bottom: 3em;
      right: 12em;
    }

    .social {
      position: absolute;
      bottom: -43em;
      right: 0;
    }
  }

  @media (min-width: 1024px) {

    body {
      width: 1024px;
    }

    .title {
      margin-bottom: 5vh;
    }

    .me {
      position: relative;
      bottom: 22vh;
    }

    nav {
      left: 58vw;
      top: -6.7vh;
      width: 192.492px;
      height: 25px;
    }
    .skills {
      grid-template-columns: repeat(3, 33.33%);
      position: relative;
      left: 55px;
    }

    .btn-div {
      left: -5em;
    }

    hr {
      width: 855px;
      left: -2em;
    }

    hr:last-of-type {
      left: 7.5em;
    }

    footer,body {
      overflow-x: hidden;
      width: 1024px;
    }

    .name-footer {
      bottom: 1em;
      left: -15em;
    }

    .contact-upper,.contact-middle,.contact-lower,.code,.site {
      cursor: pointer;
    }
  }

  @media (min-width: 1440px) {

    .title {
      position: relative;
      left: 15vw;
      bottom: 2vh;
      margin-bottom: 2em;
    }

    .me {
      width: 445px;
      height: 720px;
      top: -11.3em;
      left: 61vw;
    }

    nav {
      width: 192.492px;
      height: 25px;
      left: 75vw;
      top: -13.8vh;
    }

    hr {
      width: 1110px;
      left: 14vw;
    }

    .intro-title,.projects-title {
      font-size: 88px;
      line-height: 88px;
      letter-spacing: -2.5px;
    }

    .intro-title {
      width: 55%;
      z-index: 500;
    }

    .intro-title,.bio,.contact-upper {
      position: relative;
      left: 15vw;
      bottom: 101vh;
    }

    .bio,.contact-upper {
      left: 18vw;
    }

    .bio {
      width: 39%;
    }

    .contact-upper {
      bottom: 86vh;
    }

    .card-title {
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -1.5px;
    }

    .skills,.projects {
      left: 21vw;
    }

    .projects {
      bottom: 30vh;
    }

    .project .card-title {
      width: 65%;
    }

    .btn-div {
      left: -1em;
    }

    footer {
      width: 1440px;
      height: 675px;
      left: 13.8vw;
    }

    .footer-txt,.footer-title {
      text-align: left;
      position: relative;
      left: 10vw;
      top: 6vh;
    }

    .footer-form {
      position: relative;
      left: 20vw;
      bottom: 15vw;
    }

    .contact-lower {
      left: 11vw;
    }

    hr:last-of-type {
      bottom: 12vh;
    }

    .name-footer {
      bottom: 9em;
      left: -21em;
    }

    .social {
      bottom: -30em;
      right: 14em;
    }

    .code,.site {
      left: -10vw;
    }

    .site {
      left: -16vw;
    }
  }

  @media (min-width: 1920px) {
    body,footer {
      width: 1920px;
    }

    .title {
      left: -1.2em;
    }

    .intro-title,.bio,.contact-upper {
      bottom: 10em;
    }

    .bio, .contact-upper {
      bottom: 85vh;
      left: 15vw;
    }

    nav {
      top: -125px;
    }

    .skills,.projects {
      position: relative;
      left: 5vw !important;
    }

    .projects {
      left: 10vw !important;
    }

    hr:first-of-type {
      left: -6vw !important;
      width: 1440px;
    }

    footer {
      left: -8px;
    }

    form {
      top: -20vh;
    }

    hr:last-of-type {
      left: 115px !important;
    }

    .name-footer {
      position: relative;
      left: -35em;
    }

    .social {
      top: 5em;
    }
  }

  @media (min-width: 2560px) {
    .intro-title,.bio,.contact-upper {
      bottom: 62vh;
      left: 35vw;
    }

    .intro-title {
      width: 30%;
    }

    .me {
      left: 85vw;
      bottom: 5vh;
    }

    nav {
      top: -0.59vh;
      left: 94vw;
    }

    footer {
      width: 2560px;
      left: 12vw;
    }

    .contact-middle {
      left: 25vw;
    }

    hr:first-of-type {
      left: 5vw !important;
    }

    hr:last-of-type {
      left: 19vw !important;
    }

    .footer-title,.footer-txt {
      top: -1vh;
      left: 20vw;
    }

    .footer-form {
      bottom: 20vh;
      left: 14vw;
    }

    .contact-lower {
      left: 6vw;
    }

    .name-footer {
      left: -30vw;
      bottom: 12em;
    }

    .social {
      right: 32em;
    }

    .title {
      position: absolute;
      top: -20px;
      left: 0;
    }

    .skills {
      left: 20vw !important;
    }

    .projects {
      left: 26vw !important;
    }

    .site {
      left: -22vw;
    }
  }